%p#notice= notice

%p
  %b Title:
  = @story.title
%p
  %b Description:
  = @story.description
%p
  %b Tags:
  = @story.tags
%p
  %b State:
  = @story.state
%p
  %b Owner:
  = @story.owner
%p
  %b Developer:
  = @story.developer
%p
  %b Qa:
  = @story.qa

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
